h1{
  color: purple;
}

nav>ul>li{
  display:inline;
  text-decoration: none;
  padding: 20px;
  color: 2px solid black;
}
nav>ul>li a:hover{
  color:white;
}

nav{
  text-align: right;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: purple;
  display: block;
}

a{
  text-decoration: none;
  color: black;
  font-size: 20px;
}

section1{
  margin-top: 30px;
}

section1>#Home>h1{
  text-align: center;
  padding: 30px;
  font-size: 75px;
  color: purple;
}

section1>#Home>img{
  padding:10px;
  /* background-color: purple; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

section1>#Home>p{
  text-align: center;
  text-shadow: 3px 5px 5px;
  font-size: 20px;
  font-family: serif;
  font-style: italic;
  color: black;  margin-top: 30px;
}

section2>#About>h1{
  text-align: center;
  padding: 30px;
  font-size: 75px;
  color: purple;
}

section2>#About>img{
  padding:10px;
  border-radius: 400px;
  /* background-color: purple; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

section2>#About>p{
  text-align: center;
}
